/node_modules
node_modules/
dist/
build/
coverage/
*.log
.env*
.DS_Store
Thumbs.db
*.tmp
*.swp

/catalog-items.csv
/chefaa-items.csv
/chefaa-categories.json
/carrfour-items.csv
/carrfour-items.jsonl
/carreffour-cleaning-items.csv
