<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

  <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

  <application>
    <activity android:name="com.google.androidbrowserhelper.trusted.LauncherActivity">
      <intent-filter android:autoVerify="true">
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />

        <data android:scheme="https" />
        <data android:host="www.tijaratk.com" />
        <data android:pathPrefix="/merchant" />
      </intent-filter>
    </activity>

    <service
      android:name="com.google.androidbrowserhelper.trusted.DelegationService"
      android:exported="true">
      <intent-filter>
        <action android:name="android.support.customtabs.trusted.TRUSTED_WEB_ACTIVITY_SERVICE"/>
        <category android:name="android.intent.category.DEFAULT"/>
      </intent-filter>
    </service>

    <activity
      android:name="com.google.androidbrowserhelper.trusted.ManageDataLauncherActivity"
      android:exported="true">
      <meta-data
        android:name="android.support.customtabs.trusted.MANAGE_SPACE_URL"
        android:value="@string/launch_url" />
    </activity>
  </application>
</manifest>
